#container{
    background-color: black;
}

#error{
    background: url("https://img.freepik.com/free-vector/glitch-error-404-page_23-2148105404.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
    width:80vh;
    margin: auto;
}

#cover{
    height:7vh;
    background-color: black;
    z-index:4;
    position: relative;
    bottom:7vh;
}