footer {
  background-color: black;
  /* position:relative;
  bottom: 3vh; */
  color: white;
  clear: both;
  margin: 0;
}
footer #footer1 {
  display: flex;
  padding: 6vh;
  justify-content: space-around;
}
footer #footer2 {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181717;
  color: #676666;
  height: 9vh;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}
#footer2 ul {
  display: flex;
  list-style: none;
}
#footer2 a {
  color: white;
}
